ul{
    list-style-type: none;
    width: 100%
}
.navbar li{
    width: 33.3%;
    display: inline-block;
    padding-top: 26px;
    padding-right: 0px;
    padding-bottom: 26px;
    padding-left: 0px;
    text-align: center;
}